name: Publish NuGet

on:
  push:
    tags:
      - '*'

jobs:
  publish-nuget:

    name: publish-nuget
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Create Packages
      run:  dotnet pack /p:PackageVersion=${{ github.ref }} -c Release -o ./output

    - name: Push Packages
      run: dotnet nuget push ".output/*.nupkg" -k ${{ secrets.NUGET_KEY }} -s https://api.nuget.org/v3/index.json

    - name: release
      uses: actions/create-release@v1
      id: create_release
      with:
        draft: false
        prerelease: false
        release_name: 'Akka.Templates ${{ steps.version.outputs.version }}'
        tag_name: ${{ github.ref }}
        body_path: RELEASE_NOTES.md
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - name: Upload Release Asset
      uses: AButler/upload-release-assets@v2.0
      with:
          repo-token: ${{ github.token }}
          release-tag: ${{ github.ref }}
          files: 'output/*.nupkg'
